html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: $fuentePrincipal;
    color: $beige;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.contenedor-nav {
    max-width: 70rem;
    width: 95%;
    margin: 0 auto;
}

.contenedor-social {
    max-width: 10rem;
    width: 95%;
    margin: 0 auto;
}