@include desktop {
    .main{
        position: relative; // relative para poder hacer el deg
        width: 100%;
        height: 100vh; // vh porque 1vh = 1px (height responsive)
        overflow: hidden;

        .carousel { // defino el lugar en donde se va a desarrollar el carrusel
            width: 100%;
            height: 100vh;
            position: absolute;

            .carousel-inner { // centro la imagen del carrusel
                height: 100vh;
                display: flex;
                align-items: center;

                .bg {
                    height: 100vh;
                }
            }

            .boton { // le doy forma circular al "selector de imagenes" que esta en la parte inferior 
                border-radius: 100%;
                width: .5vw;
                height: 1vh;
                margin: 0 1vw;
            }

            .carousel-control-next,
            .carousel-control-prev {
                height: 75vh;
                margin: auto 0;
            }

            .carousel-control-prev-icon { // mover la flecha para la izq
                transform: translateX(-4vw);
            }

            .carousel-control-next-icon { // mover la flecha para la der
                transform: translateX(4vw);
            }

            .parrafo { // el texto que cambia con las imagenes
                z-index: 1; // para que se vea arriba y de color blanco
                bottom: 45vh;
                width: 100%;
                display: flex;
                justify-content: flex-end; // para poder colocarlo en ese lugar, tiene una caja muy grande
                left: -8vw;
                
                h1 {
                    color: #fff;
                    font-family: $fuentePrincipal;
                    font-size: calc(3vw + 1rem);
                }
            }
        }

        .main-cont {
            position: absolute; // para aplicar el deg
            width: 100%; // este y el de abajo para ocupar toda la pantalla
            height: 100%;
            background-color: rgba($color: #000, $alpha: .43); // deg

            .vermas-container {
                position: absolute;
                top: 53vh; // con esto lo movemos con el absolute
                left: 86vw;
                z-index: 1; // para poder clickearlos sino se quedan atras
    
                #informacion {
                    text-transform: uppercase;
                    font-size: calc(.8vw + .1rem);
                    letter-spacing: .2vw;
                    position: relative;
                    padding: 0 1vh;
    
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: $beige;
                        height: .2vh;
                        width: 0;
                        left: 0;
                        bottom: -1vh;
                        transition: 0.3s;
                    }
    
                    &:hover::after {
                        width: 100%;
                    }
    
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
